*{
	font-family: 'Georama', sans-serif;
}

.black{
	background-color: black;
}

p{

 font-size: 30px;
text-align: justify;
}

h1{
	color: blue;
}

.nav-item{
	color: black;
}

.Titulo{
	padding-top: 60px;
	margin-top: 30px;
}

*@media only screen and (max-width:1120px){
.publicidad{
	display: none;
}
.publicidad_responsive{
	display: block;
}
}